<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <form method="post" action="/createClass">
        <table class="table table-bordered" cellpadding="2" width="20%"  align="center"
               cellspacing="2">

            <tr>
                <td>New Batch Name</td>
                <td><input type="text" name="classname"  size="30" required></td>
            </tr>

            <tr>

                <td colspan="2"><input type="submit" value="Submit Form" class="btn btn-primary " /></td></tr>
        </table>
    </form>
</body>
</html>