<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>
<form action="/checkLogin" method="post">


    <div class="container">
        <input type="text" name="enrollid" required>

        <input type="password"  name="password" required>

        <button type="submit">Login</button>

    </div>


</form>
</body>
</html>