<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JSP Page</title>
    <style>
            *{
                font-family: arial;
            }
            body{
                text-transform: uppercase;
            }
            th, td {
              padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
        </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<form action="/uploadAttendance" method="post">


    <table class="table table-striped table-bordered responsive">

        <tr>            <td>
            <h5>Subject</h5> </td>
            <td>


                <select class="form-control" name="subject" style="width:250px;">
                    <option value='IT6001'>IT6001</option>
                    <option value='IT6002'>IT6002</option>

                </select>


            </td>
        </tr>
        <tr>
        <tr>
            <td>Batch</td>
            <td>
                <select name="batch" >
                    <option value=""> -- </option>

                    <option th:each="user: ${classlist}" th:value="${user.batchName}" th:text="${user.batchName}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td >
                    <h5 >Lecture No</h5>
            </td>
            <td>
                <select class="form-control" name="lectureno" style="width:250px;" >
                    <option value='1'>1ST</option>
                    <option value='2'>2ND</option>
                </select>
            </td></tr>

        <tr>
            <td><input type="reset" class="btn btn-info btn-block"></td>
            <td colspan="2"><input type="submit" value="Submit Form" class="btn btn-primary btn-block" /></td></tr>
    </table>
</form>

</body>
</html>
